*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Sporting Grotesque Regular", sans-serif;
  background-color: rgb(253, 238, 215);
}

@font-face {
  font-family: "Sporting Grotesque Bold";
  src: url(fonts/Sporting_Grotesque-Bold_web.woff2);
}
@font-face {
  font-family: "Sporting Grotesque Regular";
  src: url(fonts/Sporting_Grotesque-Regular_web.woff2);
}
@font-face {
  font-family: "VG5000 Regular";
  src: url(fonts/VG5000-Regular_web.woff2);
}

h1 {
  font-family: "Sporting Grotesque Bold";
  font-size: 5vw;
}
h2 {
  font-size: 3vw;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 10px;
  color: hsl(0, 100%, 67%);
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 50px;
}

.card-footer {
  text-align: center;
  justify-content: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

div.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

button#generate {
  border: none;
  border-radius: 25px;
  background-color: hsl(0, 100%, 67%);
  color: white;
  font-family: "VG5000 Regular", sans-serif;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  padding: 10px;
}

/* .btn {
  border: none;
  background-color: hsl(0, 100%, 67%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-family: "Sporting Grotesque Regular", sans-serif;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
} */

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

form {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
  padding: 20px 50px 10px;
  color: rgb(96, 95, 104);
  font-family: "VG5000 Regular", sans-serif;
  font-size: 2vw;
}
input {
  max-width: 75px;
  cursor: pointer;
  margin-right: 10px;
}

@media (min-width: 501px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }

  form {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
  form {
    font-size: 0.75rem;
  }
}

